apiVersion: v1
kind: Namespace
metadata:
    name: fabrick8s

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: orgorderer1-pv
spec:
  capacity:
    storage: 500Mi
  accessModes:
    - ReadWriteMany
  nfs:
    path: /home/hyper/opt/share/crypto-config/ordererOrganizations/orgorderer1
    server: 192.168.1.xxx  #nfs server ip

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
 namespace: fabrick8s
 name: orgorderer1-pv
spec:
 accessModes:
   - ReadWriteMany
 resources:
   requests:
     storage: 10Mi

---
